@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
 --cor-de-fundo:rgb(0, 0, 0);
 --texto1: #b5c206;
 --texto2: red;
 --botao-ativo:rgb(241, 0, 0);
 --botao-inativo: rgba(58,55,94,05);
 --texto-fundo:blue(13,0,156);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family:"metal mania",system-ui;
}
.botoes{
 
    border-radius: 15%;
    text-align: center;
    margin: 25px;
    padding: 1S0px;
    font-size:15px;
    display: flex;
 text-align: center;
}
.titulo-principal{
    font: 45px;
    text-align: center;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 45px;
}
.botao{
    font-family:"lobster",sans-serif;
    background-color: rgb(100, 96, 96);
    display:center;
    color:rgb(0, 255, 106);
    justify-content:center;
    padding:1em;
    font-size: 20px;
    align-items: center;
    width: 115px;
    text-align:center;
}
  .botao{
    display: center;
}
.botao:first-child{
    border-radius: 10px 000;
}
.botao:last-child{
    border-radius: 10px 00;
}
.botao.ativo{
    background:var(--botao-ativo);
    border-bottom: 4px solid rgb(87, 4, 42);
    
}
.aba-texto{
    background-color:var(--texto-fundo);
    padding: 15%;
    border-radius:0 0 60px 40px
}
.aba-conteudo.ativo{
display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size:80 px;
    text-align: center;
}
.aba-conteudo-titulo-segundario{
    color:var(--texto1) #b5c206;
    text-transform: uppercase;
}
.contador{
    font-size: 50px;
    text-align: center;
    padding: 1em;
}
.contador{
font-size: 20px;
text-align:center;
padding:1 em;
}
